In [1]:
import pandas as pd
import pickle
import numpy as np 
import matplotlib.pyplot as plt 
import os,sys
os.chdir('../')
sys.path.append('./src/data')
sys.path.append('./src/probability')
sys.path.append('./src/events')
Ebins = 500*10**np.linspace(0,1.3,14)
filename = '../NuFSGenMC_nominal.dat'
df = pd.read_csv(filename, delimiter=' ', names= ['pdg', 'Ereco', 'zreco', 'Etrue', 'ztrue', 'weight', 'flux_pion', 'flux_kaon'], skiprows=12)

In [2]:
df['rate_weight'] = df['weight']*(df['flux_pion'] + df['flux_kaon'])

In [5]:
bin0 = df.query(f'Ereco <{Ebins[1]}').query(f'Ereco >{Ebins[0]}')

,pdg,Ereco,zreco,Etrue,ztrue,weight,flux_pion,flux_kaon,rate_weight
20,13,626.9676,-0.834426,813.6371,-0.839088,1.478716e+07,8.751636e-12,2.330906e-11,4.740866e-04
58,13,585.5335,-0.862356,632.0898,-0.863856,4.606928e+06,2.626181e-11,4.478314e-11,3.272990e-04
65,-13,596.5067,-0.296624,558.0846,-0.276028,2.927709e+06,6.177256e-11,6.285820e-11,3.648826e-04
68,13,588.7881,-0.563454,676.5840,-0.563056,4.390841e+07,2.690038e-11,4.587238e-11,3.195336e-03
90,-13,609.3686,-0.829835,2752.7460,-0.836688,3.250195e+09,9.417104e-14,2.203015e-13,1.022097e-03
...,...,...,...,...,...,...,...,...,...
8784525,-13,520.6802,-0.983889,1304.1470,-0.983350,7.364804e+07,1.217937e-12,2.427966e-12,2.685136e-04
8784539,-13,572.3345,-0.267534,314.7123,-0.260609,2.916082e+06,3.823995e-10,3.891249e-10,2.249828e-03
8784554,13,567.2415,-0.949946,515.3408,-0.949235,1.034143e+07,4.739185e-11,8.082582e-11,1.325954e-03
8784585,-13,623.6307,-0.416956,497.5315,-0.416743,9.011889e-02,7.221776e-11,7.348691e-11,1.313074e-11
8784591,13,589.8913,-0.740288,2877.9210,-0.727086,3.714342e+09,1.002384e-13,3.923910e-13,1.829794e-03

In [7]:
hist, bins = np.histogram(bin0.Etrue, np.logspace(np.log10(Ebins[0]), np.log10(Ebins[1]), 13), weights=bin0.rate_weight)